@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Share_Layout.cshtml";
}
<body>
    <div data-ng-app="myApp" data-ng-controller="EmpCtrl">
        <div id="item-modal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content" style="text-align: center;
                        font-size: large;">
                    <div class="modal-header" style="text-align: center;
                        font-size: large;">
                        <h4 class="modal-title" style="text-align: center;
                        font-size: large;">
                            New Salary
                        </h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                           <thead class="thead-light">
                                <tr>
                                    <td>Name</td>
                                    <td>Department</td>
                                    <td>Salary</td>
                                    <td>New Salary</td>
                                </tr>
                            </thead>
                            <tbody class="table hover">
                                <tr>
                                    <td>{{currentItem.Name}}</td>
                                    <td>{{currentItem.Department}}</td>
                                    <td>{{currentItem.Salary}}</td>
                                    <td><input class="form-control" type="number" name="vv" id="newSalary" value="" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" data-ng-click="Check(currentItem)">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <table id="Employee" class="table table-bordered border-primary">
            <thead class="thead-light">
                <tr style="background-color:black;color:white">
                    <th hidden></th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody class="table hover">
                <tr data-ng-click="selectItem(emp)" data-ng-repeat="emp in employees">
                    <td hidden>{{emp.Id}}</td>
                    <td>{{emp.Name}}</td>
                    <td>{{emp.Department}}</td>
                    <td>{{emp.Salary}} </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="1" hidden> </td>
                    <td colspan="2" class="ng-binding" style="text-align: center;
                        font-size: large;background-color:darkgray ;font:bold">
                        Sum of Salaries is
                    </td>
                    <td colspan="3" class="ng-binding" style="text-align: center;
                        font-size: large; background-color:darkgray ; color:black;font:bold">
                        {{getTotal()}}
                    </td>
                    <td colspan="4" hidden> </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('EmpCtrl', function ($scope) {
            $scope.employees = [{ Id: 0, Name: 'John ', Department: 'IT', Salary: 100000 },
                            { Id: 1, Name: 'Rimi', Department: 'HR', Salary: 200000 },
                            { Id: 2, Name: 'Jim', Department: 'Operation', Salary: 50000 },
                            { Id: 3, Name: 'Dev', Department: 'IT', Salary: 150000 },
                            { Id: 4, Name: 'Sarah', Department: 'HR', Salary: 60000 },
                            { Id: 5, Name: 'Seteve', Department: 'IT', Salary: 170000 },
                            { Id: 6, Name: 'Henry', Department: 'Operation', Salary: 60000 },
                            { Id: 7, Name: 'Tony', Department: 'IT', Salary: 80000 },
                            { Id: 8, Name: 'Ema', Department: 'IT', Salary: 85000 },
                            { Id: 9, Name: 'Dani', Department: 'Operation', Salary: 90000 }];
            $scope.selectItem = function (emp) {
                $scope.currentItem = emp;
                jQuery('#item-modal').modal();
            };
            $scope.getTotal = function () {
                var total = 0;
                for (var i = 0; i < $scope.employees.length; i++) {
                    total += parseFloat(($scope.employees[i].Salary));
                }
                return total;
            }
            $scope.Check = function (emp) {
                debugger
                var x = document.getElementById('newSalary').value;
                document.getElementById('newSalary').value = null;
                var id = emp.Id;
                if (x != null && x != "") {
                    emp.Salary = x;
                    x = null;
                }
                else {
                    alert(" الرجاء تعبئة حقل الراتب الجديد")
                }
            }
        });
    </script>
</body>




