.table th, tbody,tfoot {
    text-align: center;
    font-size: large;
}

label {
    font-size: x-large;
}

.row {
    margin-bottom: 1%;
}
.input-lg {
    height: 45px;
    padding: 0px 16px;
}
.form-control {
    height:80%;
    font-size: large;
    color: black;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 2.428571;
}
tfoot  {
     font-size: 12px;
}